{% extends "base.html" %}

{% block main-content %}

    <h2>Welcome To Zach's Pricelist</h2>
    <hr>

    {% if object_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Street</th>
                    <th>Avenue</th>
                </tr>
            </thead>
            <tbody>
                {% for store in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'store_detail' store.pk %}">
                                {{ store.name }}
                            </a>
                        </td>
                        <td> {{ store.street }}</td>
                        <td> {{ store.avenue }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No stores in database yet.</h2>
    {% endif %}

{% endblock main-content %}