{% extends "base.html" %}

{% block main-content %}
    [<a href="/"> Return Home </a>]<br/>

	<h2>{{store_name}}</h2>
	<p>{{store_name.street}}th Street and {{store_name.avenue}} Avenue</p>
	<hr>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product</th>
				<th>Brand</th>
				<th>Unit</th>
				<th>Price</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
			{% for product_result in products %}
				<tr>
					<td>{{ product_result.name }}</td>
					<td>{{ product_result.brand }}</td>
					<td>{{ product_result.unit }}</td>
					<td>${{ product_result.price }}</td>
					<td>{{ product_result.category }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>



{% endblock main-content %}
